<a href="https://colab.research.google.com/github/JDaniec/Bucle-For-iterable/blob/main/series_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SERIES USANDO FOR

In [4]:
 #sERIE 1: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
 print("-------------------------------")
 print("-------------SERIE 1 ----------")
 print("-------------------------------")

s = "serie"
for i in range (1,11):
  s = s + str(i) + ","

print(s)

-------------------------------
-------------SERIE 1 ----------
-------------------------------
serie1,2,3,4,5,6,7,8,9,10,

In [12]:
#seria2 : 1, 4,9,16,25,36

s = "serie"
for i in range (1,11):
  if i != 10:
    s = s + str(i**2) + "," 
  else:
      s = s + str(i**2)

s = s + "}"
print(s)

serie1,4,9,16,25,36,49,64,81,100}